<header>
    <nav>
        <div class="nav-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <a href="/login">LOGIN</a>
        </div>
        <div class="logo">
            <a href="/"><i class="fa-solid fa-burger"><span>Hotbox Diner</span></i></a>
        </div>
        <div class="nav-btn">
            <button>RESERVAR</button>
        </div>
    </nav>
    <div class="hero">
        <h1>Delicie-se com nossos lanches artesanais e batatas crocantes. Peça agora!</h1>
        <span><p>Seg. à Dom. - 12:00 às 22:00</p></span>
    </div>
</header>
