<main>
    <section class="about">
        <div class="our-history">
            <h2>Nossa História</h2>
            <p>O Hotbox Diner nasceu da paixão por dois mundos: o sabor dos hambúrgueres artesanais e a criatividade da
                tecnologia. Fundada por um desenvolvedor que trocou o teclado pela chapa, nossa missão sempre foi clara
                — entregar lanches com identidade, ingredientes de qualidade e uma experiência rápida, prática e
                deliciosa.

                Começamos em uma cozinha pequena, atendendo amigos e vizinhos. Hoje, somos referência em fast food
                artesanal, combinando sabores ousados, batatas crocantes e molhos exclusivos, tudo com um toque moderno
                e descomplicado. Nosso compromisso? Fazer cada pedido com o mesmo carinho do primeiro.</p>
        </div>
        <div class="img">
            <img src="/samuel-foster-LxD9fZYR2uw-unsplash-_3_.webp" alt="" loading="lazy">
        </div>
    </section>
    <section class="menu">
        <h2>Conheça Nosso Cardápio</h2>
        <div class="grid">
            <div class="card">
                <div class="card-img">
                    <img src="/kibe.webp" alt="" loading="lazy">
                </div>
                <div class="card-body">
                    <span class="card-title">Quibe</span>
                    <p class="card-description">Massa crocante por fora e macia por dentro, feita com trigo especial,
                        carne moída temperada com hortelã e especiarias árabes</p>
                    <div class="card-info">
                        <p class="card-price">RS 40.00</p>
                        <button class="add-to-cart-btn">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="/esfiha.webp" alt="" loading="lazy">
                </div>
                <div class="card-body">
                    <span class="card-title">Esfiha de carne</span>
                    <p class="card-description">Massa leve e macia, recheada com carne moída temperada com um toque de
                        limão, tomate e especiarias selecionadas.</p>
                    <div class="card-info">
                        <p class="card-price">RS 50.00</p>
                        <button class="add-to-cart-btn">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-btn-container">
            <a href="/cardapio"><button class="menu-btn">Veja Nosso Cardápio</button></a>
        </div>
    </section>
    <section class="testimonials">
        <h2>Depoimentos</h2>
        <div class="grid-container">
            <div class="card">
                <div class="card-img">
                    <img src="/hannah.jpg" alt="" loading="lazy">
                </div>
                <div class="card-body">
                    <p>"Simplesmente apaixonada pelos lanches! O hambúrguer artesanal é suculento, e o atendimento foi
                        super
                        rápido. Já virou meu lugar favorito!"</p>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="/olly.jpg" alt="" loading="lazy">
                </div>
                <div class="card-body">
                    <p>"Comida deliciosa e bem embalada. Pedi pelo delivery e chegou tudo quentinho. Nota 10 no sabor e
                        na
                        apresentação!"</p>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="/olly.jpg" alt="" loading="lazy">
                </div>
                <div class="card-body">
                    <p>"O combo promocional vale super a pena. Batata crocante, refrigerante gelado e o hambúrguer com
                        um
                        tempero único! Recomendo demais."</p>
                </div>
            </div>
        </div>
    </section>
    <section class="location">
        <h2>Nossa Localização</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.6777886461514!2d-46.562530599999995!3d-23.687478100000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4353fea4c1a9%3A0xff3b58ed38024100!2sCileide%20Lanfredi%20-%20Hair%20Studio!5e0!3m2!1spt-BR!2sbr!4v1746818333159!5m2!1spt-BR!2sbr"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</main>