<h2>Painel Administrativo</h2>

<section>
  <input type="text" [(ngModel)]="novoItem.nome" placeholder="Nome">
  <input type="text" [(ngModel)]="novoItem.descricao" placeholder="Descrição">
  <input type="number" [(ngModel)]="novoItem.preco" placeholder="Preço">
  <input type="text" [(ngModel)]="novoItem.imagem" placeholder="Imagem (URL)">
  <button (click)="adicionar()">Adicionar</button>
</section>

<hr>

<ul>
  <li *ngFor="let item of itens">
    <img [src]="item.imagem" width="50">
    {{ item.nome }} - R$ {{ item.preco }}
    <button (click)="remover(item.id!)">Remover</button>
  </li>
</ul>
