@import '../src/variables/variables.scss';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    width: 100%;
}

body {
    width: 100%;
    height: 100dvh;
    overflow-x: hidden;
    outline: none;
    position: relative;
}

h1, h2 {
    font-family: 'Roboto', serif, Arial;
    font-size: 3rem;
    font-weight: 600;
    color: $black;
}

p, span {
    font-family: 'Poppins', serif, Arial;
    font-size: 1rem;
    color: $black;
}

a, button {
    cursor: pointer;
    font-family: 'Poppins', serif, Arial;
    font-size: 1rem;
    color: $white;
}

i {
    cursor: pointer;
    font-size: 1.3rem;
    color: $white;
}

img {
    width: 100%;
}

svg {
    width: 100%;
}

@media (width <= 1024px) {
    h1, h2 {
        font-size: 1.5rem;
    }
}